body{

        background: url(static/img/bg-image.jpg) no-repeat center center fixed;
        background-size: cover;
        .login-card{
            background: rgba(255,255,255,0.15);
            backdrop-filter: blur(30px);
            box-shadow: 0 8px 30px rgba(0,0,0,0.2);
        }

        .form-control{
            background: rgba(255,255,255,0.2);
            height: 40px;
        }
        
        .form-control:focus{
            background: rgba(255,255,255,0.3);
        }

        .btn-login{
            transition: 0.3s;
        }

        .btn-login:hover{
            transform: translateY(-2px);
            box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
            transition: 0.3s;
        }

    }